*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#e66465, #9198e5);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 0 2px 5px black;
}

.header{
    margin-top: 200px;
}

.header-items,.footer-items{
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.wrap{
    margin-top: 200px;
}
.wrap>*,.footer-title{
    text-align: center;
}

.wrap>a{
    font-size: 48px;
}

.footer-title{
    font-size: 30px;
    font-weight: 300;
}

.footer-items{
    margin-top: 50px;
}

.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}

