*{
    margin: 0;
    padding: 0;
}

body{
    background: lightskyblue;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 0 2px 5px black;
}

#center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

#form{
    display: flex;
    flex-direction: column;
}


h1{
    text-align: center;
}

.input{
    width: 150%;
}
.input,.input>label>input,.input>button{
font-size: 32px;
}

.input>button{
   background: linear-gradient(45deg,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.5));
   color: white;
   padding: 0.5px;
}

.input>label>input{
    width: 75%;
    border: none;
    border-bottom: 5px solid rgba(255, 255, 255,0.64);  
    background: none;
}

.radio{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.links{
    display:flex;
    justify-content: center;
    align-content: center;
}

#myInput{
    display: none;
}

.links{
    margin-top: 30px;
}

.links>a{
    text-decoration: underline;
    font-weight:700;
    color: white;
    font-size: 28px;
}

.edit{
    text-decoration: none;
    font-weight:700;
    color: white;
    font-size: 25px;
}

.links-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#btnLink{
    background: none;
    border: none;
    color: #fff;
    text-shadow: 0 2px 5px black;
    font-size: 28px;
    text-decoration: underline;
    transition: all ease-in-out 0.5s;
}

#btnLink:hover{
    color: rgb(255, 208, 79)
}


.links{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}  

.column{
    flex-direction: column;
}

.column>div{
    margin-top: 20px;
}



.links>div{
    font-size: 26px;
}

.rows{
    display:flex;
    justify-content: space-around;
    gap:60px;
}

.delete{
    border: none;
    background: none;
    color: white;
    text-shadow: 0 2px 5px black;
    font-size: large;
}

