*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(83, 172, 255);
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 0 2px 5px black;
}

.header{
    margin-top: 200px;
}

.header-items,.footer-items{
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-weight: 300;
}


.wrap,.links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    margin-top: 200px;
}

.center>*{
    font-size: 40px;
}

.center>h3{
text-align: center;
}
input,button{
    font-size: 35px;
}

input{
    width: 750px;
}

button{
    color: white;
    background: black;
}


.links{
    margin-top: 100px;
}

.links>a{
    text-decoration: underline;
    font-weight:700;
}

.exit{
    position: fixed;
    top:0;
    right:20px;
}