
    {%extends "menu.html"%}
    {% block content %}
    <div class="wrap">
        <h1>Let's get started!</h1>
       <a href="/protoShort">click here to short link</a>
    </div>
    <div class="footer">
        <div>
            <p class="footer-title">Find us in</p>
        </div>
        <div class="footer-items">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">VK</a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Youtube</a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">GitHub</a>
        </div>
    </div>
    {% endblock %}
