<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link type="text/css"  rel="stylesheet" href="{{url_for('static', filename='style/main.index.css')}}">
    <title>ShortCut Link</title>
</head>
<body>
    <div class="header">
        <div class="header-items">
        <a href="/">Home</a>
        <a href="/enter">Auth</a>
        <a href="/answer">Q&A</a>
        </div>
    </div>
    <div class="wrap">
        <div class="proto">
            <h1>Введите ссылку:</h1>
            <form method="post">
                <label><input type="text" name="url" required class="url"></label> <button class="btn-url">OK</button>
            </form>
            
        </div>
        
    </div>
    
    <div class="links">
{% if link %}
        <div class="links-item"><input type="hidden" value={{link}} id="myInput"><button onclick="myFunction()" id="btnLink">{{link}}</button></div>
{% endif %}
    </div>
    
  

    <script>
    function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Ссылка скопирована " + copyText.value);
}
    </script>
</body>
</html>