
    {%extends "menu.html"%}
    {% block content %}
    <div class="wrap">
        <div class="proto">
            <h1>Введите ссылку:</h1>
            <form method="post">
                <label><input type="text" name="url" required class="url"></label> <button class="btn-url">OK</button>
            </form>
            
        </div>
        
    </div>
    
    <div class="links">
{% if link %}
        {% if link!="К сожалению произошла ошибка. И ссылку не удалось отработать" and link!="Ссылка очень маленькая. Она должна быть больше 8 символов"%}
        <div class="links-item"><input type="text" value={{link}} id="myInput"><button onclick="myFunction()" id="btnLink">{{link}}</button></div>
        {% else %}
        <div class="links-item"><p style="text-decoration: underline; font-size: 24px; ">{{link}}</p></div>
        {% endif %}
{% endif %}
    </div>
    
  

    <script>
function myFunction() {
var copyText = document.getElementById("myInput");
/* Select the text field */
copyText.select();
copyText.setSelectionRange(0, 99999); /* For mobile devices */
 /* Copy the text inside the text field */
navigator.clipboard.writeText(copyText.value);
/* Alert the copied text */
alert(" Скопирована ");
}


    </script>
{% endblock %}