
    {%extends "menu.html"%}
    {% block content %}
    <div class="auth">
    <h1>Регистрация</h1>
    </div> 
    <div class="wrap">
        <h1>Введите логин и прпароль</h1>
        <form method="post">
            <label>E-mail: <input type="email" name="email" required value={{email}}></label><br><br>
            <label>Пароль: <input type="password" minlength="6" name="password" required value={{password}} ></label><br><br>
            <button>Ok</button>
        </form>
        <h1>{{error}}</h1> 
    </div>       
    {% endblock %}